<html>
<head>
    <title>WuName</title>
    <meta charset="utf-8">
    <meta property="og:title" content="{{ original_name }}'s assigned Wu-Tang name">
    <meta property="og:description" content="{{ line_one }} {{ line_two }} {{ wuname }}">
    <meta property="og:site_name" content="WuName">
    <meta property="og:url" content="https://wunameapp.com">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body style="margin-top:40px;">
<div class="container">
    <div class="hero-unit" align="center">
        <p>
            {% for para in message %}
                {{ para }}<br>
            {% endfor %}
            <b>{{ wuname }}</b>
        </p>
    </div>
</div>
</body>
</html>